@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, welcome to Harvard School!</h1>
<div>
At Harvard we pride ourselves in offering top-grade education.
</div
<br />
<div>
You will see that many world leaders and CEOs are alumni of this school.
</div>
<br />
<div>
    If you wish to apply you can do so by navigating the side menu.
</div>
